body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", "Arial", sans-serif;
  background: url("../background.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.vinyl-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  overflow: hidden;
}

.vinyl-wrapper {
  position: relative;
  width: 75vw;
  height: 75vw;
  animation: spin2d 20s linear infinite;
  flex-shrink: 0;
  margin-left: -37.5vw;
  overflow: hidden;
}

.vinyl {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .vinyl-wrapper {
    width: 85vw;
    height: 85vw;
    margin-left: -42.5vw;
  }
}

@media (max-width: 480px) {
  .vinyl-wrapper {
    width: 95vw;
    height: 95vw;
    margin-left: -47.5vw;
  }
}

.content {
  text-align: left;
  z-index: 1;
  width: 50%;
  color: white;
  padding: 0 20px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.05em;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #d3d3d3;
}

.highlight {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  background: linear-gradient(
    90deg,
    #ff7eb3,
    #ff758c,
    #1db954,
    #17a743,
    #4bc0c8
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 8s infinite ease-in-out;
}

.login-btn {
  font-size: 1.3rem;
  padding: 0.85rem 1.8rem;
  color: black;
  background-color: #1db954;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #17a743;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes spin2d {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
